@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 600px
    .swiper
        &-button
            &-prev
                left: -90px
            &-next
                right: -90px
    .swiper-slide
        &__img
            height: 100%
    .activities
        &__photo
            width: 235px
    .grid-container
        grid-template-rows: 500px 500px 500px
        grid-template-columns: 350px 350px
        grid-template-areas: "post-1 post-1" "post-3 post-4" "post-2 post-5"
        width: 730px
    .footer
        &__input
            width: 100%
@media (max-width: 992px)
    .container
        max-width: 760px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            min-width: 340px
    .navbar
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        width: 132px
    .slider
        width: 100%
        height: 450px
        margin-bottom: 30px
    .swiper-slide
        &__img
            width: 100%
            height: 450px
    .hotel-right
        flex-direction: row
        width: 760px
    .booking
        width: 370px
    iframe
        width: 100%
        border: none
    .map
        width: 370px
    .swiper
        &-container
            &-wrapper
                max-width: 600px
        &-button
            &-prev
                left: -60px
            &-next
                right: -60px
    .reviews
        &__text
            max-width: 420px
    .activities
        &__photo
            width: 365px
        &__block-with-photo
            margin-bottom: 26px
    .footer
        padding-bottom: 33px
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-gap: 40px
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social-network
            grid-row: 1 / 2
            grid-column: span 4
            align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__contact-details
            grid-row: 3
            grid-column: span 5
        &__contacts-form
            grid-row: 4
            grid-column: span 5
        &__disclaimer-and-others
            grid-column: 1/3
            margin-top: 56px
        &__social-icons
            grid-column: 5/7
            margin-top: 56px
        &__input
            width: 100%
    .modal
        &__dialog
            padding: 33px 45px
@media (max-width: 768px)
    .container
        max-width: 570px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 4599
        &__user, &__search
            &--mobile
                &_hidden
                    display: none
                &_visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 78px
            padding-top: 30px
            &--visible
                display: block
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 30px
                &--mobile
                    &_visible
                        display: block
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            flex-direction: column
            justify-content: space-between
            border: none
            background-color: #fff
            cursor: pointer
            margin-top: 5px
            margin-right: 10px
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0px
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
    .hotel-right
        flex-direction: column
        min-height: 450px
        max-width: 570px
        width: 100%
    .booking
        width: 100%
    .ymap-container
        width: 100%
    .slider
        height: 350px
    .swiper-slide
        &__img
            height: 350px
            object-fit: cover
    .swiper-container
        height: 350px
    .newsletter
        &-container
            max-width: 570px
            width: 92%
        &__search
            width: 280px
        &__subscribe
            font-size: 20px
            &-newsletter
                font-size: 32px
    .form__input
        width: 280px
    .swiper
        &-container
            &-wrapper
                max-width: 460px
        &-button
            &-prev
                left: -40px
            &-next
                right: -40px
    .reviews
        &__text
            max-width: 320px
    .activities
        &__photo
            width: 100%
        &__block-with-photo
            margin-bottom: 21px
            width: 48%
    .grid-container
        grid-template-rows: 500px 410px 410px
        grid-template-columns: 1fr 1fr
        grid-template-areas: "post-1 post-1" "post-3 post-4" "post-2 post-5"
        max-width: 570px
        width: 92%
        column-gap: 10px
    .post-1
        grid-template-columns: 3fr 5fr
        &__descr
            font-size: 12.5px
    .post-2
        &__container
            padding: 15px 18px 15px 25px
        &__images
            height: 200px
    .price-and-book
        &__button
            padding: 0px 17px 0px 17px
    .post-2
        grid-template-rows: 2fr 3fr
    .post-3
        grid-template-rows: 2fr 3fr
    .post-4
        grid-template-rows: 2fr 3fr
    .post-5
        grid-template-rows: 2fr 3fr
    .packages-title
        margin-top: 10px
    .footer
        &-wrapper
            column-gap: 0px
        &__contact-details
            grid-column: span 6
        &__contacts-form
            grid-column: span 6
    .modal
        &__info
            display: block
        &__dialog
            max-width: 500px
            width: 100%
@media (max-width: 576px)
    .logo
        width: 99px
    .slider
        height: 300px
    .swiper-slide
        &__img
            height: 300px
            object-fit: cover
    .swiper-container
        height: 300px
    .newsletter
        padding-top: 76px
        padding-bottom: 83px
        &-container
            max-width: 280px
            width: 92%
            flex-direction: column
            align-items: start
        &__search
            margin-top: 37px
    .swiper
        &-container
            &-wrapper
                max-width: 450px
                width: 92%
        &-button
            &-prev
                left: 44px
                top: 80px
            &-next
                right: 44px
                top: 80px
    .reviews
        &__text
            max-width: 350px
            width: 75%
    .activities
        &__title
            margin-left: 7.5%
            margin-top: 0
        &__photo
            width: 100%
        &__block-with-photo
            margin-bottom: 20px
            width: 85%
        &__photos
            justify-content: center
            margin-top: 40px
    .grid-container
        grid-template-rows: 500px 500px 500px 500px 500px
        grid-template-columns: 1fr
        grid-template-areas: "post-1" "post-3" "post-4" "post-2" "post-5"
        width: 100%
        max-width: 400px
        column-gap: 10px
    .packages
        &-title
            width: 100%
            font-size: 28px
    .post-1
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
        &__descr
            display: none
        &__star
            display: none
        &__container
            padding: 25px 28px 0px 40px
        &__radius
            border-radius: 0px 0px 8px 8px
        &__img
            border-radius: 8px 8px 0px 0px
        &__price-and-book
            margin-top: 24px
        &__contacts
            &-one
                margin-top: 23px
    .post-2
        &__container
            padding: 25px 28px 0px 40px
        &__images
            height: 250px
        &__flash-offer
            padding: 0
            padding: 8px 12px 7px 11px
            color: $light
            background-color: $primary
            position: absolute
            top: 26px
            left: 0px
            z-index: 400
            border-radius: 0px 4px 4px 0px
            font-size: 12px
            line-height: 15px
    .post-2
        grid-template-rows: 1fr 1fr
    .post-3
        grid-template-rows: 1fr 1fr
    .post-4
        grid-template-rows: 1fr 1fr
    .post-5
        grid-template-rows: 1fr 1fr
    .post
        &__images
            height: 250px
    .footer
        padding-bottom: 21px
        &-wrapper
            grid-template-columns: 1fr
            grid-template-rows: repeat(7, min-content)
            row-gap: 30px
        &__logo
            grid-column: 1 / 2
            grid-row: 1 / 2
        &__social-network
            grid-column: 1 / 2
            grid-row: 2 / 3
            flex-direction: column
            min-height: 67px
            justify-content: space-between
        &__categories
            grid-row: 5 / 6
            grid-column: 1 / 2
        &__additional
            grid-row: 4 / 5
            grid-column: 1 / 2
        &__legal
            grid-row: 3 / 4
            grid-column: 1 / 2
            justify-self: start
        &__contact-details
            grid-column: 1 / 2
            grid-row: 6 / 7
        &__contacts-form
            grid-column: 1 / 2
            grid-row: 7 / 8
        &__input
            flex-basis: 100%
            margin-top: 15px
            margin-bottom: 0
        &__message
            margin-top: 15px
        &__disclaimer-and-others
            grid-column: 1/2
            grid-row: 8 / 9
            width: 90%
            margin: 0
            justify-self: center
            align-self: end
            font-size: 12px
            line-height: 15px
            font-family: Mulish
        &__social-icons
            grid-column: 1/2
            grid-row: 9 / 10
            margin-top: 0
            align-self: start
            justify-self: start
    .navbar
        &-menu
            margin-top: -7px
            &__item
                margin-bottom: 22px
        &__search
            min-width: 150px
            &--mobile
                &_visible
                    width: 250px
                    margin-top: -10px
    .search
        &__input
            width: 200px
    .modal
        &__info
            display: block
        &__dialog
            max-width: 400px
            width: 85%
            padding: 33px 20px
    .container
        &-title
            font-size: 25px
    .activities
        &__title
            font-size: 25px
            margin-top: 20px
@media (max-width: 400px)
    .button-and-info-wrapper
        display: flex
        flex-direction: column
    .modal
        &__button
            width: 100%
        &__info
            margin-top: 15px
            align-self: start
    .user-avatar
        width: 40px
        height: 40px
    .navbar
        &-menu
            margin-top: -23px
            &__item
                margin-top: 0
                margin-bottom: 0
            &__link-item
                margin-bottom: 16.5px
        &__search
            margin-top: 30px
            margin-bottom: 35px
@media (max-height: 550px)
    .modal
        &__dialog
            position: fixed
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            height: 90%
            overflow-y: scroll
            scrollbar-color: $primary #ffffff
            scrollbar-width: thin
            &::-webkit-scrollbar
                width: 8px
                height: 8px
                background-color: #ffffff
                border: 0.5px solid black
            &::-webkit-scrollbar-thumb
                background-color: $primary
            
