@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 600px
    .swiper
        &-button
            &-prev
                left: -90px
            &-next
                right: -90px
    .swiper-slide
        &__img
            height: 100%
    .activities
        &__photo
            width: 235px
    .grid-container
        grid-template-rows: 500px 500px 500px
        grid-template-columns: 350px 350px
        grid-template-areas: "post-1 post-1" "post-3 post-4" "post-2 post-5"
        width: 730px
@media (max-width: 992px)
    .container
        max-width: 760px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            min-width: 340px
    .navbar
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        width: 132px
    .slider
        width: 100%
        height: 450px
        margin-bottom: 30px
    .swiper-slide
        &__img
            width: 100%
            height: 450px
    .hotel-right
        flex-direction: row
        width: 760px
    .booking
        width: 370px
    iframe
        width: 100%
        border: none
    .map
        width: 370px
    .swiper
        &-container
            &-wrapper
                max-width: 600px
        &-button
            &-prev
                left: -60px
            &-next
                right: -60px
    .reviews
        &__text
            max-width: 420px
    .activities
        &__photo
            width: 365px
        &__block-with-photo
            margin-bottom: 26px
@media (max-width: 768px)
    .container
        max-width: 570px
        width: 92%
    .navbar
        &-menu, &__search, &__user
            display: none
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0px
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
    .hotel-right
        flex-direction: column
        min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .slider
        height: 350px
    .swiper-slide
        &__img
            height: 350px
            object-fit: cover
    .swiper-container
        height: 350px
    .newsletter
        &-container
            max-width: 570px
            width: 92%
        &__search
            width: 280px
        &__subscribe
            font-size: 20px
            &-newsletter
                font-size: 32px
    .form__input
        width: 280px
    .swiper
        &-container
            &-wrapper
                max-width: 460px
        &-button
            &-prev
                left: -40px
            &-next
                right: -40px
    .reviews
        &__text
            max-width: 320px
    .activities
        &__photo
            width: 100%
        &__block-with-photo
            margin-bottom: 21px
            width: 48%
    .grid-container
        grid-template-rows: 500px 410px 410px
        grid-template-columns: 1fr 1fr
        grid-template-areas: "post-1 post-1" "post-3 post-4" "post-2 post-5"
        max-width: 570px
        width: 92%
        column-gap: 10px
    .post-1
        grid-template-columns: 3fr 5fr
        &__descr
            font-size: 12.5px
    .post-2
        &__container
            padding: 15px 18px 15px 25px
        &__images
            height: 200px
    .price-and-book
        &__button
            padding: 0px 17px 0px 17px
    .post-2
        grid-template-rows: 2fr 3fr
    .post-3
        grid-template-rows: 2fr 3fr
    .post-4
        grid-template-rows: 2fr 3fr
    .post-5
        grid-template-rows: 2fr 3fr
    .packages-title
        margin-top: 10px
@media (max-width: 576px)
    .logo
        width: 99px
    .slider
        height: 300px
    .swiper-slide
        &__img
            height: 300px
            object-fit: cover
    .swiper-container
        height: 300px
    .newsletter
        padding-top: 76px
        padding-bottom: 83px
        &-container
            max-width: 280px
            width: 92%
            flex-direction: column
            align-items: start
        &__search
            margin-top: 37px
    .swiper
        &-container
            &-wrapper
                max-width: 450px
                width: 80%
        &-button
            &-prev
                left: 44px
                top: 80px
            &-next
                right: 44px
                top: 80px
    .reviews
        &__text
            max-width: 350px
            width: 75%
    .activities
        &__title
            margin-left: 7.5%
            margin-top: 0
        &__photo
            width: 100%
        &__block-with-photo
            margin-bottom: 20px
            width: 85%
        &__photos
            justify-content: center
            margin-top: 40px
    .grid-container
        grid-template-rows: 500px 500px 500px 500px 500px
        grid-template-columns: 1fr
        grid-template-areas: "post-1" "post-3" "post-4" "post-2" "post-5"
        width: 86%
        column-gap: 10px
    .post-1
        grid-template-columns: 1fr
        grid-template-rows: 1fr 1fr
        &__descr
            display: none
        &__star
            display: none
        &__container
            padding: 25px 28px 0px 40px
        &__radius
            border-radius: 0px 0px 8px 8px
        &__img
            border-radius: 8px 8px 0px 0px
        &__price-and-book
            margin-top: 24px
        &__contacts
            &-one
                margin-top: 23px
    .post-2
        &__container
            padding: 25px 28px 0px 40px
        &__images
            height: 250px
        &__flash-offer
            padding: 0
            padding: 8px 12px 7px 11px
            color: $light
            background-color: $primary
            position: absolute
            top: 26px
            left: 0px
            z-index: 400
            border-radius: 0px 4px 4px 0px
            font-size: 12px
            line-height: 15px
    .post-2
        grid-template-rows: 1fr 1fr
    .post-3
        grid-template-rows: 1fr 1fr
    .post-4
        grid-template-rows: 1fr 1fr
    .post-5
        grid-template-rows: 1fr 1fr
    .post
        &__images
            height: 250px