@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 600px
    .swiper-slide
        &__img
            height: 100%
@media (max-width: 992px)
    .container
        max-width: 760px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
            min-width: 340px
    .navbar
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        width: 132px
    .slider
        width: 100%
        height: 450px
        margin-bottom: 30px
    .swiper-slide
        &__img
            width: 100%
            height: 450px
    .hotel-right
        flex-direction: row
        width: 760px
    .booking
        width: 370px
    iframe
        width: 100%
        border: none
    .map
        width: 370px
@media (max-width: 768px)
    .container
        max-width: 570px
        width: 92%
    .navbar
        &-menu, &__search, &__user
            display: none
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0px
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
    .hotel-right
        flex-direction: column
        min-height: 450px
    .booking
        width: 100%
    .map
        width: 100%
    .slider
        height: 350px
    .swiper-slide
        &__img
            height: 350px
    .swiper-container
        height: 350px
    .newsletter
        &-container
            max-width: 570px
            width: 92%
        &__search
            width: 280px
        &__subscribe
            font-size: 20px
            &-newsletter
                font-size: 32px
    .form__input
        width: 280px
@media (max-width: 576px)
    .logo
        width: 99px
    .slider
        height: 300px
    .swiper-slide
        &__img
            height: 300px
    .swiper-container
        height: 300px
    .newsletter
        padding-top: 76px
        padding-bottom: 83px
        &-container
            max-width: 280px
            width: 92%
            flex-direction: column
            align-items: start
        &__search
            margin-top: 37px
